/*general styling*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    
    
}

body {
    background-image: url("./Assets/background.jpg" );
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
   
}

html {
    scroll-behavior: smooth;
}

p {
    color:  rgb(255, 255, 255);
}

/*transitions*/

a,
.btn {
    transition: all 300ms ease;
}

/*desktop_nav*/

nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: center;
    align-items: center;
    height: 12vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.2rem;

}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-decoration-color: rgb(153, 65, 6);
}

a:hover {
    color: rgb(231, 102, 15);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    
    font-size: 1.6rem;
    font-weight: 600;
}
.logo-pic{
    margin-right: 5rem;
    height: 3rem;
    width: 3rem;
}

.logo:hover {
    cursor: default;
}


/*section*/

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    min-height: fit-content;
}

.section-container {
    display: flex;

}
.arrow{
    position: absolute;
    right: 1rem;
    bottom: 2.5rem;
}

/*profile section*/

#profile {
    display: flex;
    justify-content: center;
    gap: 3rem;
    height:80vh;

}

.section_pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: 0 auto;

}

.profile_text {
    color: rgb(231, 102, 15);
    text-align: initial;
    margin-top: 10%;
    font-family: 'Calligraffitti', cursive;
    font-size: 4.5rem;
    font-weight: 600;

}
.caption{
    color: white;
    font-size: 2rem;
    text-align: center;
}
.section_text {
    justify-content: center;
    flex-basis: 50%;
    align-self: center;
    text-align: center;
    height: 0vh;
}

.section_text p {
    font-weight: 300;
    padding-bottom: 1rem;
}

.section_text_p1 {
    color: white;
    text-align: center;
    font-size: 1.75rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon {
    color: rgb(231, 102, 15);
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    color: rgb(231, 102, 15);
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-btn-color-1,
.btn-btn-color-2 {
    border: rgb(231, 102, 15) 0.1rem solid;
}

.btn-btn-color-1:hover,
.btn-btn-color-2:hover {
    cursor: pointer;
}


.btn-btn-color-2:hover {
    background: rgb(231, 102, 15);
    color: white;
}

.btn-btn-color-1:hover {
    background: rgb(255, 255, 255);
}

.btn-btn-color-2 {
    background: none;
}

.btn-btn-color-2:hover {
    border: rgb(231, 102, 15) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}